<h3>{{currMovie.name}}</h3> <b>Termin</b>: {{seance.startTime | date:'dd-MM-yyyy hh:mm'}} ({{seance.hall.name}})
<div style="margin-top: 20px; margin-bottom: 15px; font-weight: bold">Rezerwowane bilety:</div>
<div data-ng-repeat="ticket in reservation.tickets" class="reservation_row" style="margin-bottom: 10px">
    <div style="float: left; width: 120px"><span class="glyphicon glyphicon-tag"></span> Miejsce
        {{ticket.seat.row}}{{ticket.seat.number}}
    </div>
    <div style="float: left; width: 130px"><select class="form-control input-sm" style="position:relative; top: -3px"
                                                   data-ng-model="ticket.type.id">
        <option selected value="1">Normalny
        <option value="2">Ulgowy (uczeń)
        <option value="3">Studencki
    </select></div>
    <div style="clear:both"></div>
</div>
<div style="margin-top: 20px; margin-bottom: 15px; font-weight: bold">Dane identyfikacyjne osoby składającej
    rezerwacje:
</div>
<form class="form-horizontal" ng-submit="confirm();" style="width: 600px">
    <fieldset> <!-- Multiple Radios (inline) -->
        <div class="form-group"><label class="col-md-4 control-label" for="radios"
                                       style="text-align: left; width: 170px">Metoda autoryzacji:</label>

            <div class="col-md-6"><label class="radio-inline" for="radios-0"> <input name="radios" id="radios-0"
                                                                                     value="EMAIL" checked type="radio"
                                                                                     data-ng-model="reservation.authorizationMethod"
                                                                                     required> adres e-mail </label>
                <label class="radio-inline" for="radios-1"> <input name="radios" id="radios-1" value="SMS" type="radio"
                                                                   data-ng-model="reservation.authorizationMethod"
                                                                   required> numer telefonu </label></div>
        </div>
        <!-- Text input-->
        <div class="form-group"><label class="col-md-4 control-label" for="name" style="text-align: left; width: 170px">Imię:</label>

            <div class="col-md-6"><input id="name" name="name" placeholder="imię lub pseudonim"
                                         class="form-control input-md" type="text" data-ng-model="reservation.name"
                                         required></div>
        </div>
        <!-- Text input-->
        <div class="form-group"><label class="col-md-4 control-label" for="email"
                                       style="text-align: left; width: 170px">Adres e-mail:</label>

            <div class="col-md-6"><input id="email" name="email" placeholder="adres e-mail"
                                         class="form-control input-md" type="email" data-ng-model="reservation.email"
                                         data-ng-disabled="reservation.authorizationMethod != 'EMAIL'"
                                         ng-required="reservation.authorizationMethod == 'EMAIL'"></div>
        </div>
        <!-- Text input-->
        <div class="form-group"><label class="col-md-4 control-label" for="phone"
                                       style="text-align: left; width: 170px">Numer telefonu:</label>

            <div class="col-md-6"><input id="phone" name="phone" placeholder="numer telefonu"
                                         class="form-control input-md" type="text" data-ng-model="reservation.phone"
                                         data-ng-disabled="reservation.authorizationMethod != 'SMS'"
                                         ng-required="reservation.authorizationMethod == 'EMAIL'"></div>
        </div>
        <div style="text-align: left"><input type="submit" value="Złóż rezerwacje »" name="confirm" id="confirm"
                                             class="btn btn-success"></div>
    </fieldset>
</form>