<a ng-click="back()" class="btn btn-info pull-right" href="javascript:">Back</a> <a
        data-ng-href="#/bookTickets/{{currMovie.id}}" class="btn btn-success pull-left" role="button"
        data-ng-disabled="movie.availability == 0">Book</a> <br>
<div ng-show="currMovie"><h3>{{currMovie.name}}</h3>

    <div class="row">
        <div class="col-md-4"><img data-ng-src="{{currMovie.picture}}"></div>
        <div class="col-md-6"><h4>Review</h4> <span data-ng-repeat="i in [1, 2, 3, 4, 5]"
                                                    class="glyphicon glyphicon-star"></span> <label>{{currMovie.description}}</label>
        </div>
    </div>
</div>