<h3>{{currMovie.name}}</h3> <!--<input class="datepicker" data-date-format="mm-dd-yyyy" data-ng-model="search" />-->
<div data-ng-repeat="seance in seances | orderBy:'startTime':false | filter:search"><a
        href="#/bookTickets/{{currMovie.id}}/{{seance.id}}">{{seance.startTime | date:'dd-MM-yyyy'}} -
    {{seance.hall.name}}</a></div>