<h3>{{currMovie.name}}</h3> <b>Termin</b>: {{seance.startTime | date:'dd-MM-yyyy hh:mm'}} ({{seance.hall.name}})
<div class="screen">EKRAN</div>
<div data-ng-repeat="seatRow in seance.hall.seatsRows" class="seats_row"><a href="javascript:void(0);"
                                                                            ng-class="{'no': !isSelected, 'yes': isSelected}"
                                                                            ng-click="isSelected = !isSelected; {{seat.occupied == true ? '' : 'changeSeatStatus($event, seat.id, {\'no\': !isSelected, \'yes\': isSelected})'}}"
                                                                            class="seat {{seat.occupied == true ? 'occupied' : 'free'}}"
                                                                            data-ng-repeat="seat in seatRow.seatList">
    {{seatRow.symbol}}{{seat.number}} </a></div>
<div style="position:absolute; margin-top: 13px"><b>Wybranych miejsc:</b> {{selectedSeats.length}}</div>
<div style="text-align: center"><a href="javascript:void(0);" data-ng-click="doReservation($event)"
                                   class="btn btn-success" role="button" style="margin-top: 10px"
                                   data-ng-disabled="selectedSeats.length == 0">Potwierdzam wybór miejsc »</a></div>
<div style="clear: both"></div>